# files not to track in git
output/*.*
*~
input/*.html
input/schemas.xml
input/os.rnc
LocalUser.make
.vscode
.mypy_cache
input/docxfile.docx
input/odtfile.odt
input/pdffile.pdf
input/
python/__pycache__/
sandbox/
rules/
config.json
Makefile
config.py
python.py
Good/
Makefile
thef.py